@tailwind base;
@tailwind components;
@tailwind utilities;

.font-my-custom-font {
    font-family: 'crazy', sans-serif;
  }
  .bg-blur {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
  }